* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #232323;
  --body-bg-color: #e9e7e7;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--body-bg-color);
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/* ---------------- navbar ---------------- */
.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 3rem 7rem;
  font-family: 'Lato', sans-serif;
}

.nav-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 30%;
  font-size: 1.8rem;
  font-weight: 300;
}

.nav-links-container li a {
  color: var(--primary-color);
}

.nav-links-container li:nth-child(1) {
  font-weight: 800;
}

.contact-us-btn-container button {
  border: 3px solid #232323;
  padding: 1rem 4rem;
  background-color: transparent;
  border-radius: 7px;
  font-size: 1.8rem;
  font-weight: 900;
  color: var(--primary-color);
  transition: all 0.5s;
}

.contact-us-btn-container button:hover {
  background-color: var(--primary-color);
  color: white;
}

/* ---------------- Hero Section ---------------- */
#hero-section {
  display: flex;
  column-gap: 10rem;
  padding: 7rem;
  position: relative;
  overflow: hidden;
}

#left-scrable {
  position: absolute;
  z-index: -1;
  left: -480px;
  top: 300px;
  transform: rotateY(45deg);
  width: 70%;
  opacity: 20%;
}

#right-scrable {
  position: absolute;
  z-index: 100;
  top: 400px;
  right: -40px;
  height: 55%;
  overflow: hidden;
}

.hero-image {
  flex: 1;
}
.hero-image img {
  width: 100%;
}

.hero-content {
  flex: 1;
}

.hero-content h1 {
  font-size: 10rem;
  margin-bottom: 3rem;
  font-family: 'Cardo', serif;
  font-weight: 700;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.hero-content button {
  padding: 1.5rem 5rem;
  background-color: var(--primary-color);
  color: white;
  border-radius: 7px;
  border: none;
  font-size: 2rem;
  font-weight: 700;
}

/* ---------------- Create Memory Section ---------------- */
#create-memory-section {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 4rem;
  overflow: hidden;
  position: relative;
}

#create-memory-section h2 {
  font-size: 7rem;
  font-weight: 700;
  font-family: 'Cardo', serif;
  margin: auto;
  line-height: 8rem;
}

#create-memory-section p {
  font-size: 2rem;
  width: 45%;
  margin: 2rem auto;
}

#create-memory-section button {
  background-color: transparent;
  border: 3px solid white;
  color: white;
  border-radius: 7px;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  font-weight: 700;
}

#memory-left-scrable {
  position: absolute;
  left: -100px;
  top: 30px;
  width: 30%;
}

#memory-right-scrable {
  position: absolute;
  top: 250px;
  right: -30px;
  width: 28%;
}

/* ---------------- unknown-section ---------------- */
#unknown-section {
  padding: 15rem 20rem;
  position: relative;
  overflow: hidden;
}

#unknown-right-scrable {
  position: absolute;
  right: -45px;
  top: 300px;
  height: 50%;
}

#unknown-left-scrable {
  position: absolute;
  left: -100px;
  top: 0;
  height: 100%;
}

.unknown-cards-container {
  display: flex;
  column-gap: 7rem;
}

.card-image-container {
  height: 350px;
}

.unknown-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.unknown-card hr {
  width: 7%;
  height: 3px;
  margin: 2.5rem 0;
  border: none;
  background-color: var(--primary-color);
}

.unknown-card h3 {
  font-size: 2.5rem;
  font-family: 'Cardo', serif;
  font-weight: 700;
}

/* ---------------- See Places Section ---------------- */
#see-places-section {
  padding: 7rem;
  position: relative;
  overflow: hidden;
}

.see-places-top-image {
  width: 100%;
}

.see-places-top-image img {
  width: 100%;
  height: 100px;
}

#see-places-left-scrable-container {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 25rem;
  padding-left: 5rem;
}

#see-places-left-scrable-container img {
  width: 25%;
}

#see-places-right-scrable {
  position: absolute;
  height: 50%;
  top: 0;
  right: -120px;
  opacity: 20%;
}

.see-places-title {
  text-align: center;
}

.see-places-title h2 {
  font-size: 8rem;
  font-family: 'Cardo', serif;
  font-weight: 700;
  margin: 2rem auto;
  line-height: 9rem;
}

.see-places-title h2 em {
  text-decoration: underline;
}

.see-places-title p {
  font-size: 1.8rem;
  font-weight: 800;
}

.see-places-sub-section {
  display: flex;
  padding: 0 5rem;
  column-gap: 5rem;
  position: relative;
}

.see-places-sub-section-image-container {
  margin-bottom: 7rem;
}

.see-places-sub-section-text {
  display: flex;

  column-gap: 5rem;
}

.see-places-sub-section-text h3 {
  font-size: 3rem;
  font-family: 'Cardo', serif;
  text-decoration: underline;
  color: var(--primary-color);
  flex: 1;
}

.see-places-sub-section-paragraph {
  font-size: 2rem;
  flex: 1.5;
}
.see-places-sub-section-paragraph p:first-child {
  margin-bottom: 2rem;
}

.see-places-sub-section-paragraph img {
  right: 5rem;
  bottom: 5rem;
  width: 10%;
  position: absolute;
}

/* ---------------- Choose Anywhere Section ---------------- */
#choose-anywhere-section {
  background-color: var(--primary-color);
  color: var(--body-bg-color);
  overflow: hidden;
  position: relative;
}

.container {
  padding: 15rem 7rem;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
  column-gap: 8rem;
}

#choose-anywhere-scrable {
  position: absolute;
  bottom: -50px;
  left: -100px;
  width: 30%;
}

.main-title {
  font-size: 5rem;
  font-weight: 800;
  font-family: 'Cardo', serif;
  margin-bottom: 10rem;
}

.choose-anywhere-content h4 {
  font-size: 2.5rem;
  font-weight: 800;
}

.choose-anywhere-content h4:nth-child(3) {
  margin-top: 5rem;
}

.choose-anywhere-content p {
  font-size: 2rem;
  padding-top: 1rem;
}

/* ---------------- Faq ---------------- */
#faq {
  display: flex;
  padding: 7rem;
  column-gap: 10rem;
}

#faq div:first-child {
  flex: 2;
}

#faq div:first-child h2 {
  font-size: 7rem;
  font-family: 'Cardo', serif;
  margin-bottom: 10rem;
}

#faq div:nth-child(2) {
  flex: 1;
}

#faq-image {
  width: 100%;
}

.faq-questions-container {
  list-style: none;
}

.faq-questions-container li {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  column-gap: 5rem;
}

.faq-questions-container li button {
  width: 2%;
  border: none;
  background-color: transparent;
}

.faq-questions-container li button img {
  width: 100%;
}

.faq-questions-container hr {
  border: none;
  height: 2px;
  background-color: var(--primary-color);
}

/* ---------------- Slider Section ---------------- */
#slider-section {
  text-align: center;
}

#slider-section h2 {
  font-size: 7rem;
  font-weight: 800;
  font-family: 'Cardo', serif;
  margin-bottom: 4rem;
}

.slider {
  display: flex;
  width: 80%;
  height: 100%;
  margin: auto;
  column-gap: 5rem;
}

.card {
  border: 1px solid var(--primary-color);
  border-radius: 7px;
  padding: 5rem 2rem;
}
.card div {
  width: 50%;
  margin: auto;
}

.card img {
  width: 100%;
}

.card h3 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--primary-color);
  margin: 3rem 0;
}

.card p {
  font-size: 1.5rem;
  width: 100%;
}

/*contact-us*/
#contact-us {
  display: flex;
  justify-content: space-between;
  padding: 7rem;
  column-gap: 7rem;
}
.form-container {
  width: 100%;
}

.form-container form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.form-container h2 {
  font-size: 5rem;
  font-weight: 800;
  font-family: 'Cardo', serif;
  margin-bottom: 2rem;
}

.form-container button {
  width: 100%;
  padding: 1.5rem;
  background-color: var(--primary-color);
  border-radius: 7px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 1.7rem;
}

input,
textarea {
  padding: 1.5rem;
  background-color: transparent;
  border-radius: 7px;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

/*footer*/
footer {
  background-color: #c4c4c4;
  color: var(--primary-color);
}

.footer-container {
  display: flex;
  column-gap: 6rem;
  padding: 7rem;
}

.footer-container h2 {
  font-size: 4rem;
  font-family: 'Cardo', serif;
  font-weight: 800;
  flex: 1;
}

.footer-quick-links {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  flex: 5;
}

.footer-quick-links h3 {
  font-size: 2rem;
  font-weight: 800;
}

.footer-links-container {
  display: flex;
  column-gap: 5rem;
}

.footer-links-container ul {
  list-style: none;
  display: flex;
  row-gap: 1rem;
  flex-direction: column;
  font-size: 1.5rem;
}
